/*.stores-list .item {*/
/*    margin: 0 0 -1px;*/
/*    padding: 30px;*/
/*}*/

/*.box-shadow, .box-shadow-sm {*/
/*    transition: transform ease 0.2s, box-shadow ease 0.2s;*/
/*}*/

/*.bordered {*/
/*    border: 1px solid #ececec;*/
/*}*/


/*.box-shadow:hover {*/
/*    border-color: #fff;*/
/*    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);*/
/*    -webkit-transform: translateY(-1px);*/
/*    transform: translateY(-1px);*/
/*    background-color: #fff;*/
/*}*/

/*.grey {*/
/*    color: #999;*/
/*}*/

/*.top-prop a {*/
/*    font-size: 1.333rem;*/
/*    text-decoration: none;*/
/*}*/

/*.top-prop a:hover, .text-wrap .text {*/
/*    color: #d3ada6;*/
/*}*/

/* .schedule .text{*/
/*     color: #777;*/
/* }*/

/*.black {*/
/*    color: #222;*/
/*    text-decoration: none;*/
/*}*/

/*a.black:hover, .text-wrap .text:hover {*/
/*    color: #222;*/
/*}*/

/*.ant-card-body:hover .top-prop a{*/
/*    color: #d3ada6;*/
/*}*/


/*.ant-card-meta-avatar img {*/
/*    width:300px;*/
/*    object-fit:cover;*/
/*    height: auto;*/
/*}*/

/*.ant-card-meta-detail{*/
/*    overflow: visible;*/
/*}*/