.shops-front{
    background: #ffffff;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    padding: 60px 30px;
}

.shops-front .shops-top-info a{
    color: #999;
    text-decoration: none;
    font-size: 0.667rem;
    padding-top: 10px;
}

.shops-front .shops-top-info a:hover{
    color: #d3ada6;
}