
.profile-container {
    padding-top: 100px;
}

.profileContainer {
    text-align: center;
    align-content: center;

    width: 100%;
    height: 100%;
}

.content {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*margin-top: 30px;*/
    /*vertical-align: middle;*/
    padding: 35px;
    width: 1000px;
}

.profile-info {
    text-align: center;
}

.profile-avatar img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    max-width: 250px;
    float: none;
}

.profile-avatar, .profile {
    margin-bottom: 20px;
}

.profile-name {
    font-weight: 500;
    font-size: 18px;
}

.profile-email {
    font-weight: 400;
    font-size: 16px;
}


.text-avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    background: #46b5e5;
    background: linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
    background-image: -ms-linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
    background-image: -moz-linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
    background-image: -o-linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
    background-image: -webkit-linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
    background-image: linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
}

.text-avatar span {
    line-height: 200px;
    color: #fff;
    font-size: 3em;
}

.button {
    width: 100%;
    /*margin: 10px;*/
    padding: 0;
    font-size: 16px;
    background-color: #dbbdb8;
    border-color: #dbbdb8;
    color: #ffffff;
}

.form {
    display: flex;
    flex-direction: column;
}

.formItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 2%;
}