.ant-card-meta-description div .product-content-body {
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.ant-card-meta-description {
    color: black;
}

.ant-btn {
    width: 100%;
    padding: 4px;
}

.ant-btn > .anticon + span, .ant-btn > span + .anticon {
    margin-left: 3px;
}

.ant-btn > span {
    margin-right: 0;
}

button.one-click-buy {
    color: lawngreen;
    border: 1px solid lawngreen;
    margin-top: 16px;
}

button.cart-buy {
    background: lawngreen;
    margin-bottom: 16px;
}

button.one-click-buy:hover {
    color: forestgreen;
    border: 1px solid forestgreen;
}

button.cart-buy:hover {
    background: forestgreen;
}

/*.ant-card-meta-avatar img {*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    object-fit: cover;*/
/*    height: auto;*/
/*}*/

.ant-card-cover img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 2px 2px 0 0;
}

.product-card{
    position: relative;
}

.radio-group{
    position: absolute;
    top: 50px;
    right: 0px;
}


.ant-card-body {
    text-align: center;
}

.product-title {
    font-weight: normal;
}

.product-art {
    font-weight: lighter;
}

