/*.ant-card-meta-description div .product-content-body {*/
/*    height: 150px;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    word-wrap: break-word;*/
/*}*/

/*.ant-card-meta-description{*/
/* color: black;*/
/*}*/

/*.ant-btn{*/
/*    width: 100%;*/
/*    padding: 4px;*/
/*}*/

/*.ant-btn > .anticon + span, .ant-btn > span + .anticon{*/
/*    margin-left: 3px;*/
/*}*/

/*.ant-btn > span{*/
/*    margin-right: 0;*/
/*}*/

/*.ant-card-meta-avatar img {*/
/*    width:150px;*/
/*    object-fit:cover;*/
/*    height: auto;*/
/*}*/

/* .ant-card-meta-detail{*/
/*     overflow: visible;*/
/* }*/
